nav{
    margin: 10px 40px;
    border: 1px solid red;
    
    
}
nav ul{
    list-style: none;
    text-align: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px 0;
}
nav ul li{
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 1px;
}
nav ul li a{
    text-decoration: none;
    color: aqua;
    
}
nav ul li a:hover{
text-decoration: underline;
    color: red;
    }